<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="/css/bootstrap.min.css"
    />
    <title>Food Stocks</title>
  </head>
  <body class="d-flex flex-column vh-100">
    <%- include('partials/navbar') %> <%- include('partials/cart') %>

    <main>
      <div class="container mt-5"> <%- include('partials/alert') %> </div>
      <%- body %>
    </main>

    <%- include('partials/footer') %>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/validate-form.js"></script>
    <script
      type="module"
      src="/js/cart.js"
    ></script>
  </body>
</html>
